@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body,html{
   margin: 0px;
   padding: 0px;
   font-family: "Dancing Script", cursive ;
   height:100%;
}

.container{

    background-color: rgb(31, 57, 19);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border:solid;
    padding-top:20px;
    padding-bottom: 20px;
    

    
}

.content{
      text-align:center;
      background-color: rgb(210, 192, 171);
      font-family:"Dancing Script", cursive ;
       padding: 2rem;
      border-radius: 20px;
       max-width: 400px;
       
}

.logo{
    border-radius: 17px;
    width:400px;
    object-fit: contain;
    border-radius:50px
   
}

.h1{
    text-align:center;
    justify-content: center;
    color:rgb(22, 32, 22);
    font-size: xx-large;
    margin-bottom: 10px;
    font-weight: 900;
   
    
}

form{
    display:flex;
    flex-direction: column;
    
}

p{ 
    margin-top: 0px;
    font-family: "Dancing Script", cursive ;
    font-size: x-large;
    padding:10px ;
    color:rgb(27, 31, 27);
    font-weight:700;
}

input[type="email"]{
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 25px;
     box-shadow:0 10px 6px rgba(71, 72, 71, 0.9);
}

button{
    background-color: rgb(76, 138, 91) ;
    color:#ebefec;
    border-radius:4cqmin  ;
    padding: 0.4rem;
    transition:background-color 0.4s ease-in-out;
    box-shadow:0 10px 6px rgba(21, 49, 19, 0.9);
    margin-bottom: 20px;
}

button:hover{
    cursor:pointer;
    background-color: rgb(17, 40, 17);

}

